@import "../../assets/scss/color-pallete";
main{
  width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}

.head{
  font-size: calc(1em + 2.9rem);
  font-family: ui-monospace;
  img{
    width: calc(100% - 77%);
    border-radius: 78%;
    object-fit: contain;
  }
}
.centralize{
  display: flex;
  justify-content: center;
}
.logout{
  position: absolute;
    left: calc(100% - 4%);
    top: 3%;
    cursor: pointer;
    img{
      width: 2rem;
    }
}
.refresh{
  position: absolute;
    left: calc(100% - 9%);
    display: flex;
    top: 3%;
    flex-flow: column;
    cursor: pointer;
    mat-icon{
      font-size: 2.4rem;
    }
    small{
      position: relative;
    top: 0.4rem;
    font-size: 1rem;
    }
}

.inputs{
  background-color: $login-chip;
  border: none;
    border: none;
    border-radius: 1rem;
    color: $white;
    width: 16rem;
    height: 2rem;
    padding-left: 1rem;
}
.search{
  position: relative;
    left: calc(100% - 97%);
}
