<div class="logout" (click)="logout()">
  <img src="../../assets/svgs/logout.png">
  <label >logout</label>
</div>
<div class="refresh" *ngIf="showRefresh" (click)="refresh()">
  <mat-icon>refresh</mat-icon>
  <small>refresh</small>
</div>

<main>
  <div class="search">
    <input class="inputs" id="password" type="text" placeholder="Search" (keyup)="search($event.target.value)">
  </div>
  <header>
    <div class="container">
      <div class="row d-flex flex-nowrap">
        <div class="col-lg-12 centralize head">Movies Now &nbsp; <img src="https://wallpapercave.com/wp/wp5223134.jpg"  alt="">
        </div>
      </div>
    </div>
  </header>
  <div>
    <ehr-paginators [pages]="pageNumbers" (sendPage)="pageSelected($event)"></ehr-paginators>
  </div>
  <div>
    <ng-container *ngIf="isLoading">
      <ehr-spinner></ehr-spinner>
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <ehr-cards [movie]="movieData | async"></ehr-cards>
    </ng-container>

  </div>
</main>
