@import "../../../../assets/scss/color-pallete";
main{
  width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}
.card-background{
  background: linear-gradient(
87deg, white 34%, #b2e8ea 121%);
margin: 1rem;
img{
  width: 9rem;
    border-radius: 50%;
    height: 9rem;
    margin: auto;
}
}
.overflow-card{
  height: calc(1em + 47rem);
    overflow-y: scroll;
}

.margin-adjust{

  margin: 1rem;
}
.adjust-margin{
  margin-bottom: 2rem;
}
